# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings

#Intellij Files
*.iml
.idea

# Packages
*.jar

# Maven build files
target
reports
# ARQ tests
arq-perf

# PMD
.pmd

# Merge files
*.orig
*.versionsBackup

# jboss files
transaction.log

# python
.pydevproject

*.*~
